*{
    text-align: center;
    /* border: solid 1px black; */
    font-family: Gideon Roman, Verdana, Geneva, Tahoma, sans-serif;
    
}


a{
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    margin-top: 15px;
}
img{
    height:355px;
    overflow:hidden
}


container{
    display:flex;
    flex-direction: column;
    border: solid black 2px;
    width:300px;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 0.75s;
    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}




projects{
    display:flex;
    gap:20px;
}

projectName{
    font-weight: bold;
    padding:5px;
}

projectInfo{
    padding:10px;
}

@media (max-width: 920px) {
    
    a{
        padding-top: 20px;
    }   
    
    projects{
        flex-direction: column ;
        align-items: center;
        justify-content: center;
    }

    container{
        width: 300px;
    }
  
  
}